body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

canvas {
    background-color: #222;
    image-rendering: pixelated;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
}

#controls button {
    margin-right: 4px;
}
